# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.gradle/
.java/
*.iml
*.jks
*.keystore
local.properties
*.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Pub
pubspec.lock

# Coverage
coverage/
